/*CSS  MAP*/

/*1. Common Css*/
/*2. Navbar*/
/*3. Slider Section*/
/*4. About Section*/

/*1. Common Css*/
html, body {
	width: 100%;
	overflow-x: hidden;
}

.btnMain {
	background: #ff3926;
    border: #ff3926;
    border-radius: 0;
    padding: 10px 37px;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}

.btnMain:hover, .btnMain:active {
    color: #fff;
}


.hr__Title {
	  width: 28px;
    border: 1px solid #ff3926;
    display: inline-block;
    margin: 4px;
}

.title {
    color: #ff3926;
    padding: 0px 20px;
    font-size: 22px;
    font-weight: 500;
}

.subtitle {
  font-weight: bold;
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}


.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}



/*2. Navbar*/
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navbar {
	border-bottom: 1px solid rgba(255,255,255,0.3);
    padding: 15px 115px;
    background: rgba(255,255,255,0.03);
}

.navbar-dark .navbar-nav .nav-link { 
	color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px;
    margin: 0px 10px
}

.navbar-dark .navbar-nav .active>.nav-link {
	color: #ff3926;
	border-bottom: 2px solid #ff3926;
}

 .navbar-dark .navbar-nav .nav-link:hover {
	color: #ff3926;
}

/*3. Slider Section*/
#slider {
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/slider/06.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgba(255,255,255,0.8);
}

.inner-text {
  padding: 0px 10px;
}

.inner-text h4 {
	font-weight: 300;
    font-size: 32px;
}

.inner-text h1 {
	color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

.inner-text h1 span {
	color: #ff3926;
}


/*4. About Section*/
#about {
  padding: 80px 0px;
}

#about img {
	width: 100%;
}

.personal__info .text, .list-group-item span {
  color: rgba( 0, 0, 0, 0.6 );
}

.list-group-item span {
  padding-right: 5px;
}

.personal__info .list-group-item {
  padding: 0px;
  margin-bottom: 1px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
}  

/*5.Skills Section*/
#skills {
      background: #f7f7f7;
    padding: 80px 0px;
}

#skills .text {
  line-height: 1.8;
}

.leftText, .rightText {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
}

.progress {
  margin-bottom: 25px;
  background-color: #757575;
  border-radius: 0;
}

.personal__info {
  padding-top: 50px;
}

.progress-bar {
  background-color: #ff3926;
}

/*6. numbers*/
#numbers {
  background: url(../images/background/01.jpg) no-repeat center fixed;
    color: #fff;
}

.bg-curtain {
  background-color: rgba(0,0,0,0.9);
   padding: 50px 0px;
}

.numbers {
    color: #ff3926;
    font-size: 30px;
    font-weight: bold;
}

#numbers h3 {
  letter-spacing: 3px;
  color: #fff;
}

[class*=" flaticon-"]:after, [class*=" flaticon-"]:before, [class^=flaticon-]:after, [class^=flaticon-]:before {
  margin-left: 0 !important;
  font-size: 45px !important;
}

/*7.service*/

#services {
  padding: 80px 0;
}

.card-header {
  background: transparent;
    color: #e1e1e1;
    font-weight: bold;
    font-size: 40px;
    padding: 0px 10px;
    text-align: end;
    border-bottom: 1px dotted rgba(0,0,0,.125) !important;
}

#services .imgContainer {
      color: #fff;
    background: red;
    display: inline-block;
    padding: 10px 24px;
        margin: 20px 0px;
}

.card-text {
  color: rgba(0,0,0,0.6);
}

.card-body {
  padding: 30px 10px;
}

.card {
    -moz-box-shadow: 3px 2px 11px #ccc;
    -webkit-box-shadow: 3px 2px 11px #ccc;
    box-shadow: 3px 2px 11px #ccc;
    margin-bottom: 30px;
}

/*8. portfolio section*/
#portfolio {
  padding: 80px 0;
  background: rgb(247, 247, 247);
}

#portfolio img {
  width: 100%;
}

.filter-button
{
    font-size: 15px;
   
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

}

.filter-button.active {
    color: #ff3926
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}


/*9. testimonial section*/
#testimonial {
  padding: 80px 0;
}

#testimonial .personal__info {
  padding-top: 0px;
}

#testimonial img {
  width: 100px;
  height: 100px;
      position: absolute;
    top: -45px;
    z-index: 99999999999;
}

.star .list-inline-item:not(:last-child) {
  margin-right: 0;
}

.star ul li i{
  color: #ff3926;
}

.star ul {
  margin-left: 0;
     padding-top: 35px;
}

#testimonial .card {
    margin: 0px 10px;
 
}

#testimonial .card-title {
    font-weight: normal;
    font-size: 19px;
    color: rgba(0,0,0,0.7);
 
}

#testimonial .card-body {
    padding: 30px;
}

#testimonial .item {
  padding-top: 50px;
}

#testimonial .bg {
  padding: 30px;
  background-image: url(../images/testimonial/clone.png);
  background-repeat: no-repeat;
  background-position: top right;
  opacity: 0.04;
  width: 100%;
  height: 100%;
      position: absolute;
    top: 0;
    right: 0px;
}


/*10. blog section*/
#blog {
  padding: 80px 0;
  background: rgb(247, 247, 247);
}

#blog .card-header {
  padding: 0px;
  border-bottom: none !important;
}

#blog .card-body {
  text-align: justify;
}

#blog .card-body img {
  width: 35px;
  height: 35px;
}

#blog .admin {
  display: inline-block;
  background: #1e283c;
  color: #fff;
  padding: 3px 12px;
  border-radius: 20px;
}

#blog .date {
  padding: 3px 12px;
}

/*11. contact section*/
#contact {
  padding: 80px 0;
}

#contact .personal__info .list-group-item {
    padding: 8px 0px;
    font-size: 15px;
    border-bottom: none;
}
    
.socialList {
  margin-top: 10px;
}

.socialList .list-inline-item {
  margin-right: 15px;
}

.socialList i {
  font-size: 18px;
  cursor: pointer;
}

.socialList i:hover {
  color: #ff3926;
}

#contact .form-control {
      border: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    box-shadow: none;
}

#contact .form-control:focus {
    border-bottom: 1px solid #000;
    background: #fff;
}

/*12. footer*/
footer {
   padding: 25px 0;
  background: rgb(247, 247, 247);
}

footer p {
  margin-bottom: 0;
}